# Dependencies
*/node_modules

# Bun
bun.lockb

# Build outputs
dist/
dist-ssr/
target/

# Tauri specific
client/src-tauri/target/
client/src-tauri/gen/

# env variables
*.local
.env
.env.local
*/.env

# OS
Thumbs.db

# Tauri build artifacts
*.exe
*.app
*.dmg
*.deb
*.AppImage
